{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="icon" href="{% static 'images/gamepad.svg' %}">
</head>
<body>
    {% include 'includes/navbar.html' %}

    <h1>This is the contact site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, non iure nemo sapiente fuga hic repellat id dignissimos exercitationem inventore architecto molestiae ad laudantium tempore, incidunt quis repudiandae nihil temporibus!</p>

    {% block content %}
    {% endblock %}
</body>
</html>